-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: soupet_provedor
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `avatares`
--

LOCK TABLES `avatares` WRITE;
/*!40000 ALTER TABLE `avatares` DISABLE KEYS */;
/*!40000 ALTER TABLE `avatares` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cache_playlist`
--

LOCK TABLES `cache_playlist` WRITE;
/*!40000 ALTER TABLE `cache_playlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_playlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `favoritos`
--

LOCK TABLES `favoritos` WRITE;
/*!40000 ALTER TABLE `favoritos` DISABLE KEYS */;
/*!40000 ALTER TABLE `favoritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `historico_visualizacao`
--

LOCK TABLES `historico_visualizacao` WRITE;
/*!40000 ALTER TABLE `historico_visualizacao` DISABLE KEYS */;
INSERT INTO `historico_visualizacao` (`id`, `perfil_id`, `tipo_conteudo`, `conteudo_id`, `nome`, `imagem`, `posicao_segundos`, `duracao_segundos`, `percentual_assistido`, `episodio_id`, `temporada`, `episodio`, `finalizado`, `dados_adicionais`, `ultima_visualizacao`, `created_at`) VALUES (1,1,'filme','608635','Salve Geral: Irmandade','https://image.tmdb.org/t/p/w780/rBUQeEBFOZQskflRcEPCu9KkGeG.jpg',4963,6260,79.28,'',NULL,NULL,0,NULL,'2026-02-12 09:13:28','2026-02-12 10:50:47');
/*!40000 ALTER TABLE `historico_visualizacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `perfis`
--

LOCK TABLES `perfis` WRITE;
/*!40000 ALTER TABLE `perfis` DISABLE KEYS */;
INSERT INTO `perfis` (`id`, `usuario_id`, `nome`, `avatar`, `tipo`, `pin_protegido`, `pin`, `infantil`, `ativo`, `created_at`, `updated_at`) VALUES (1,1,'Carpini','assets/images/avatars/avatar_01.svg','adicional',0,NULL,0,1,'2026-02-12 03:25:05','2026-02-12 03:25:05');
/*!40000 ALTER TABLE `perfis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `recentes_tv`
--

LOCK TABLES `recentes_tv` WRITE;
/*!40000 ALTER TABLE `recentes_tv` DISABLE KEYS */;
/*!40000 ALTER TABLE `recentes_tv` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `recomendacoes`
--

LOCK TABLES `recomendacoes` WRITE;
/*!40000 ALTER TABLE `recomendacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `recomendacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-12 10:49:27
