-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: soupet_gerencia
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` (`id`, `nome`, `email`, `senha`, `ativo`, `ultimo_acesso`, `created_at`, `updated_at`) VALUES (1,'Administrador','admin@neuroplay.com','$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi',1,NULL,'2026-02-12 02:53:32','2026-02-12 02:53:32');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `avatares`
--

LOCK TABLES `avatares` WRITE;
/*!40000 ALTER TABLE `avatares` DISABLE KEYS */;
/*!40000 ALTER TABLE `avatares` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `configuracoes_gerais`
--

LOCK TABLES `configuracoes_gerais` WRITE;
/*!40000 ALTER TABLE `configuracoes_gerais` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracoes_gerais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `controle_financeiro`
--

LOCK TABLES `controle_financeiro` WRITE;
/*!40000 ALTER TABLE `controle_financeiro` DISABLE KEYS */;
/*!40000 ALTER TABLE `controle_financeiro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `destaques_filmes`
--

LOCK TABLES `destaques_filmes` WRITE;
/*!40000 ALTER TABLE `destaques_filmes` DISABLE KEYS */;
/*!40000 ALTER TABLE `destaques_filmes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `destaques_kids`
--

LOCK TABLES `destaques_kids` WRITE;
/*!40000 ALTER TABLE `destaques_kids` DISABLE KEYS */;
/*!40000 ALTER TABLE `destaques_kids` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `destaques_series`
--

LOCK TABLES `destaques_series` WRITE;
/*!40000 ALTER TABLE `destaques_series` DISABLE KEYS */;
/*!40000 ALTER TABLE `destaques_series` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `logs_sistema`
--

LOCK TABLES `logs_sistema` WRITE;
/*!40000 ALTER TABLE `logs_sistema` DISABLE KEYS */;
/*!40000 ALTER TABLE `logs_sistema` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `mensagens_provedor`
--

LOCK TABLES `mensagens_provedor` WRITE;
/*!40000 ALTER TABLE `mensagens_provedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `mensagens_provedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `novidades_provedor`
--

LOCK TABLES `novidades_provedor` WRITE;
/*!40000 ALTER TABLE `novidades_provedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `novidades_provedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `provedor_categorias_especiais`
--

LOCK TABLES `provedor_categorias_especiais` WRITE;
/*!40000 ALTER TABLE `provedor_categorias_especiais` DISABLE KEYS */;
/*!40000 ALTER TABLE `provedor_categorias_especiais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `provedores`
--

LOCK TABLES `provedores` WRITE;
/*!40000 ALTER TABLE `provedores` DISABLE KEYS */;
INSERT INTO `provedores` (`id`, `numero_provedor`, `nome`, `email`, `senha`, `logo`, `banner`, `url_principal`, `url_backup_1`, `url_backup_2`, `categoria_adulto_id`, `categoria_infantil_id`, `ativo`, `data_vencimento`, `ultimo_acesso`, `created_at`, `updated_at`) VALUES (1,'0001','Provedor Teste','teste@teste.com','\\.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi',NULL,NULL,'http://p2player.sbs',NULL,NULL,NULL,NULL,1,NULL,NULL,'2026-02-12 03:09:33','2026-02-12 03:09:33');
/*!40000 ALTER TABLE `provedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `refresh_tokens`
--

LOCK TABLES `refresh_tokens` WRITE;
/*!40000 ALTER TABLE `refresh_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_tokens` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-12 10:49:18
